/* -*- css -*- */
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
















/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/

/* Use natural box layout model everywhere. */
/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/*****************************************************************************\
**                                                                           **
**  Global Stuff                                                             **
**                                                                           **
\*****************************************************************************/

html { background: #ddd; overflow-y: scroll; } /* gray, outer background */
body { font: 1em/1.5em Georgia, serif; }

/* Don't change order of the following pseudo classes! */
a         { color: #444; text-decoration: underline; } /* unvisited link */
a:visited { color: #777; }      /* visited link */
a:hover, [onclick]:hover,       /* mouse over link or onclick element */
table.sortable thead th:hover { /* sortable tables with 'sorttable.js' */
    background: #ccc;
    color: #000;
    cursor: pointer;
}
[onclick]:hover a { color: #000; } /* link inside hovered onclick element */
a:active  { color: #aaa; } /* selected link -- button pressed on link */

/* form elements */
*[disabled] { opacity: .5; }
form { margin: 0; }
button, input, textarea, *[contenteditable] {
    font-family: sans-serif;
    border: 1px solid #888;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0 -1px 0 0;  /* right-margin: -1px to overlap borders */
    z-index: 10;
    position: relative;
    padding: 0 .5em;
}
button, input {
    white-space: nowrap;
    height: 2em;
    vertical-align: middle;
}
button {
    background: #eee;
    color: #444;
    padding: 0 .75em;
}
/* Text fields should have inside shadow. */
input, input[type="text"], textarea, *[contenteditable] {
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}
textarea, *[contenteditable] { /* multiline text input */
    padding: .25em .5em;
}
input[type] { box-shadow: none; }

/* Hover over any form element. */
button:hover, button:active,
input:hover, input:active,
textarea:hover, textarea:active,
*[contenteditable]:hover, *[contenteditable]:active {
    cursor: pointer;
    z-index: 30;
    border: 1px solid #444;
    border: 1px solid rgba(0, 0, 0, 0.75);
}
button:hover, button:active {
    background-image: -webkit-linear-gradient(
        top,
        rgba(255,255,255,.647),
        rgba(255,255,255,.353)
    );
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    color: #222;
}

/* Hover over text input field. */
input:hover,  input[type="text"]:hover,
input:active, input[type="text"]:active,
textarea:hover, textarea:active,
*[contenteditable]:hover, *[contenteditable]:active {
    cursor: text;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.375),
                      0 1px 1px 0 rgba(0, 0, 0, 0.5);
}
input[type]:hover {
    cursor: pointer;
    box-shadow: none;
}

/* Replace default blue shine on focus. */
span:focus,
button:focus, input:focus, textarea:focus, *[contenteditable]:focus {
    outline: 1px solid #88f;
    outline: 1px solid rgba(127,127,255,.75);
    z-index: 30;
}
/* Pressed form element. */
button:active, button.pressed, input:active, textarea:active,
*[contenteditable]:active {
    /* FIXME: Should use SCSS @extend to extend hovered element. */
    box-shadow: inset 0 2px 6px rgba(0,0,0,.5);
}
button:active:after, button.pressed:after,
textarea:active:after, *[contenteditable]:active:after, input:active:after {
    /* Pseudo-element to darken both text and background. */
    /* (NB: Does not cover button border.) */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, .25);
}
textarea:active:after, *[contenteditable]:active:after, input:active:after {
    /* Only darken input fields a little bit. */
    /* Fails in Chrome 25 (Feb 2013) for unknown reasons. */
    background: rgba(0, 0, 0, .0625);
}
button img {
    height: 1.25em;
    width: 1.25em;
    vertical-align: middle;
    user-drag: none;
        -moz-user-drag: none;
        -webkit-user-drag: none;
}
button.dropdown {
    margin: 0;
    padding: 0;
    border: 0;
    color: blue;
    background: transparent;
    /* set absolute size and move on top of previous element */
    position: absolute;
    z-index: 100;
    height: 2em;
    width: 1.5em;
    margin-left: -1.5em;
    img { padding: .25em }
}
button.dropdown:hover { background: rgba(0,0,0,.0645); }

/* HTML5Boilerplate sets 'td { vertical-align: top; }' */
th.left,   td.left   { text-align: left;   }
th.right,  td.right  { text-align: right;  }
th.center, td.center { text-align: center; }
th.top,    td.top    { vertical-align: top;    }
th.middle, td.middle { vertical-align: middle; }
th.bottom, td.bottom { vertical-align: bottom; }

/* large comments -- one paragraph or more */
div.comment {
    background: #bbb;
}

/* brief comments -- just a couple of words */
.light, span.comment {
    background: transparent;
    color: #888;
    vertical-align: top;
}

/* brief comment should be slightly brighter inside heading */
/* (to compensate for the fact that the font is larger */
h1 span.comment {
    color: #aaa;
}

.nobr { white-space: nowrap; }
.sans { font-family: sans-serif; }
[rel="author"] { font-style: italic; }

/*****************************************************************************\
**                                                                           **
**  Web Fonts                                                                **
**                                                                           **
\*****************************************************************************/

/*

Google Font 'Alegreya Small Caps'. This only includes the glyphs necessary for
the words 'Klingonska Akademien', and is used for the logo at top of each page.
The CSS needed for this font can also be found here, but I chose to host it
locally, by wgetting the font file and using the local font file below:

http://fonts.googleapis.com/css?family=Alegreya+SC&text=Klingonska+Akademien

*/
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  src: url(alegreya-sc-reduced.woff2) format('woff2');
}

/*****************************************************************************\
**                                                                           **
**  Selection color                                                          **
**                                                                           **
\*****************************************************************************/

::-moz-selection { background: #711; color: #fff; text-shadow: none; }
::selection { background: #711; color: #fff; text-shadow: none; }

/*****************************************************************************\
**                                                                           **
**  Page Header                                                              **
**                                                                           **
\*****************************************************************************/

/* header start */
header {
    background: #922;                    /* dark red, outside page background */
    color: #000;
    font-family: sans-serif;
    margin: 0;
    width: 100%;
    a, a:link, a:visited, a:hover, a:active {
        color: inherit;
        text-decoration: none;
        transition: text-shadow 0.05s ease-out;
    }
    a:hover {
        background: inherit;
        text-shadow: 0 0 8px #fff,
                     0 0 4px #fff,
                     0 0 2px #000;
    }
    /* breadcrumbs & update date */
    > ul {
        display: block;
        margin: 0 auto;
        overflow: auto;     /* float clearing hack */
        padding: 0;
        position: relative; /* needed by 'z-index' */
        width: 100%;        /* float clearing hack */
        z-index: 100;       /* display on top of KA logo */
        max-width: 42em;    /* max page width */
        li {
            display: inline;
            font: italic x-small sans-serif;
            margin: .5em .25em .75em;
        }
        /* breadcrumb */
        li:first-child {
            float: left;
            a:last-child {
                font-weight: bold;
            }
        }
        /* update date */
        li + li {
            float: right;
            text-align: right;
        }
    }
    /* site logo & title */
    > div {
        background: #b33;         /* red, page background */
        -moz-box-shadow:    0 .5em 2em rgba(0, 0, 0, .25);
        -ms-box-shadow:     0 .5em 2em rgba(0, 0, 0, .25);
        -o-box-shadow:      0 .5em 2em rgba(0, 0, 0, .25);
        -webkit-box-shadow: 0 .5em 2em rgba(0, 0, 0, .25);
        box-shadow:         0 .5em 2em rgba(0, 0, 0, .25);
        margin: 0 auto;
        max-width: 42em;          /* max page width */
        padding: .5em 0;
        /* logo & site title */
        a:hover table {
            h1 {
                text-shadow:
                     0px -2px 1px #000,  2px -2px 1px #000,
                     2px  0px 1px #000,  2px  2px 1px #000,
                     0px  2px 1px #000, -2px  2px 1px #000,
                    -2px  0px 1px #000, -2px -2px 1px #000,
                     0 0 64px #fff, 0 0 32px #fff,
                     0 0 16px #fff, 0 0 4px #000;
            }
        }
        table {
            border-collapse: collapse;
            margin: 0 auto;
            td {
                vertical-align: middle;
                text-align: center;
            }
            h1 {
                color: #fff;
                transition: text-shadow 0.05s ease-out;
                text-shadow:
                     0px -2px 1px #000,  2px -2px 1px #000,
                     2px  0px 1px #000,  2px  2px 1px #000,
                     0px  2px 1px #000, -2px  2px 1px #000,
                    -2px  0px 1px #000, -2px -2px 1px #000;
                /* end of white title text */
                display: inline;
                font: 300%/90% 'Alegreya SC', serif;
                letter-spacing: -1px;
            }
            span.crop {
                display: inline-block;
            }
            span.crop img {
                margin: -40px -55px -50px -55px;
                padding: 0;
                position: relative;     /* needed by 'z-index' */
                vertical-align: bottom; /* removes space below image */
                z-index: 10;
            }
        }
    }
} /* <header> */

/*****************************************************************************\
**                                                                           **
**  Page Contents                                                            **
**                                                                           **
\*****************************************************************************/

mark {
    background: rgba(187, 51, 51, .5);
    font-weight: inherit;
    font-style: inherit;
}
small { font-size: small; }

figure {
    background: inherit;
    > * {
        /* center element, even if wider than containing element */
        left: 50%;
        position: relative;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);

        background: inherit;
        display: table;      /* allows content to grow bigger than container */
    }
    audio { width: 100%; }
}

[role="main"] {
    -moz-box-shadow:    0 .5em 2em rgba(0,0,0,.25);
    -ms-box-shadow:     0 .5em 2em rgba(0,0,0,.25);
    -o-box-shadow:      0 .5em 2em rgba(0,0,0,.25);
    -webkit-box-shadow: 0 .5em 2em rgba(0,0,0,.25);
    box-shadow:         0 .5em 2em rgba(0,0,0,.25);
    margin: 0 auto;
    padding: .5em 4.5em;
    background: #fff;    /* white, page background */
    max-width: 42em;
    position: relative;  /* avoid header box-shadow */
    h1 { font: bold 2em sans-serif; text-align: center; }
    h2 { font: bold 1.5em sans-serif; }
    h3 { font: bold 1.17em sans-serif; }
    h4 { font: bold 1em sans-serif; }
    hr {
        color: #000;
        background-color: #000;
        height: 2px;
        width: 80%;
        margin: 1.5em auto;
        border: 0;
    }
    .prevnext {
        font-weight: bold;
        margin-top: 1em;
        font-family: sans-serif;
        font-size: large;
        text-align: center;
    }
    figure { margin: 1.5em auto; }
    /* Table with border (default). */
    table {
        /* center element, even if wider than containing element */
        left: 50%;
        position: relative;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);

        background: inherit;
        border: 4px solid #000;
        margin: 1em 0;
        td, th {
            border: 2px solid #000;
            padding: .125em .5em;
        }
        col, tbody { border: 4px solid #000; }
        caption {
            caption-side: bottom;
        }
    }
    table.left {
        transform: none;
        -webkit-transform: none;
        position: static;
    }
    /* Borderless table, class 'noborder'.
     *
     * This table has no vertical distance between cells or lines, and a .5em
     * horizontal distance between cells. The <tbody> tag separates table rows
     * by 1em. If you want a vertically sparser table use class 'noborder
     * sparse' instead of just 'noborder'.
     *
     * This class does not add any padding/margin/border around the table
     * itself. */
    table.noborder {
        border-collapse: collapse;
        border: 0;
        tbody, tr, th, td {
            border: 0;
            padding: 0;
        }
        tbody + tbody  { border-top:   1em solid transparent; }
        * + th, * + td { border-left: .5em solid transparent; }
    }
    /* Helper class for 'noborder', class 'spacy'.
     *
     * Use class 'noborder spacy' to make a more spacious, but still
     * border-free, table. It adds 1em vertical space between each table row.
     */
    table.spacy tr + tr { border-top: 1em solid transparent; }

    /*
     * Dialogue tables are intended to be used for dialogue and sentence
     * examples. They and are indented to the left and right. They should
     * follow one of the following patterns:
     *
     *    Dialogue without names:
     *    <tr><td>HANGING [ <td>HANGING ... ]
     *
     *    Example sentences:
     *    <tr><td>HANGING   <td>HANGING [ <td>HANGING ...]
     *
     *    Dialogue with names:
     *    <tr><th>NORMAL    <td>NORMAL  [ <td>HANGING ... ]
     *
     * Hanging indent is used for all <td> (but never <th>) cells,
     * except first in a <tr>, and immediately after <th>.
     *
     * <th> cells are intended for (short) names only and wordwrapping is
     * disabled inside them.
     *
     * FIXME: 'noborder' should be implicit for 'dialogue'.
     *
     */
    table.dialogue {
        border: solid transparent;
        border-width: 0 1.5em;
        td:first-child, td + td {              /* hanging indent */
            padding-left: 1.5em;
            text-indent: -1.5em;
        }
        th {
            vertical-align: top;
            text-align: left;
            font-weight: inherit;
            white-space: nowrap;
            padding-right: .75em;
        }
    }

    /* Paragraph settings.
     *
     * Paragraphs immediately following a paragraph of class "center" or "right",
     * or paragraphs themselves of those classes should never be indented, but
     * separated from above pagragraph by a blank line. Explicitly specifying
     * class "noindent" also forces this behaviour.
     *
     * Paragraphs immediately following another paragraph should be indented
     * (unless overridden by above rule). Explicitly specifying class "indent"
     * also forces this behaviour.
     *
     * Classes "left", "right", "center" and "justify" do the obvious thing. No
     * class at all defaults to "justify". "blank" adds an extra blank line
     * above. */
    p + p[align="center"],
    p.center, p.center + p,
    p.right,  p.right  + p,
    p.noindent, div.noindent p {
        margin-top: 1em;
        text-indent: 0em;
    }
    p + p, p.indent {
        margin-top: -1em;
        text-indent: 1.5em;
    }
    p,
    p.left    { text-align: left;    }
    p.justify { text-align: justify; }
    p.center  { text-align: center;  }
    p.right   { text-align: right;   }
    p + p.blank,
    .blank    { margin-top: 2em;     }
    /* Color is intentionally not specified, thus, when used on a linked */
    /* image the color will respect hover yadda yadda...                 */
    .border { border: 2px solid; }

    .float-contain {
        /* use on an element containing a float to have the element expand to contain
           all of the float */
        width: 100%;        /* float clearing hack */
        overflow: auto;     /* float clearing hack */
    }
    .float-left {
        display: block; /* so one may float <a> of a linked image */
        float: left;
        margin: .25em .5em .25em 0;
    }
    .float-right {
        display: block; /* so one may float <a> of a linked image */
        float: right;
        margin: .25em 0 .25em .5em;
    }

    /* Navigation menus.
     *
     * These are defition lists (<dl>) used to display a menu of links, with a
     * brief summary of the page each link points to.
     *
     *    * 32px is one indentation used
     *    * 16px is the width of the list bullet
     */
    dl.navigation {
        list-style-type: none;
        margin: 32px 0;
        padding: 0;
        text-align: left;
        dt {
            background: transparent url(../pic/dot.gif) no-repeat scroll 8px 6px;
            display: list-item;
            font-size: 120%;
            margin: 0;
            padding: 0 0 0 32px;
        }
        dd {
            margin: 0;
            padding: 0 0 0 32px;
        }
        /* nested navigation tables should have no vertical margin */
        ul, ol, dl {
            margin: 16px 0;
        }
        /* used to create columns inside navigation menu */
        /* (for the "Quick References to..." on main page) */
        table {
            /* border-collapse: collapse; */
            width: 100%;
        }
        table td {
            /* border: 0; */
            /* padding: 0; */
        }
    }
    /* for Markdown generated footnotes */
    a.footnote:before { content: "["; }
    a.footnote:after  { content: "]"; }
    a.footnote {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
        top: -.5em;
    }
} /* <... role="main"..> */

/*****************************************************************************\
**                                                                           **
**  Page Footer                                                              **
**                                                                           **
\*****************************************************************************/

/* Page footer is included at the end of each page, it contains the page *
 * copyright information as well as links to page license, and other *
 * information. */
footer {
       font-family: sans-serif;
       text-align: center;
       margin: 1.5em 0;
       color: #888;
       a:visited {
           color: #888;
       }
       a:link {
           color: #777;
       }
       p {
           margin: .5em 0;
       }
       .copyright {
           margin-bottom: .5em;
       }
       > :last-child {
           font-size: small;
       }
} /* <footer> */

/* eof */
