/* -*- css -*- */

div.summary {
    color: #777;
    font-family: sans-serif;
    font-size: small;
    padding: .125em 0em;
}

dl.found {
    font-family: sans-serif;
    line-height: 1.2;
    * { vertical-align: inherit; }
    time { color: #777; }
    a {
        line-height: inherit;
        text-decoration: none;
    }
    dt {
        margin-top: 1em;
    }
    dd {
        margin: 0;
    }
}

/* eof */
