/* -*- css -*- */

/* DEBUG purposes: highlight Klingon words and their translations */
strong[lang="tlh"] {
    font-weight: bold;
    background-color: lightpink;
}
em[class="translation"] {
    font-style: italic;
    background-color: lightblue;
}

/* eof */
