/* -*- css -*- */

table.prefix {
    margin: 0 auto;
    border-collapse: collapse;
}

table.prefix, table.prefix col, table.prefix tbody {
    border: 4px solid black;
}

table.prefix .subj, table.prefix .obj {
    font: bold 1.75em sans-serif;
}
table.prefix .obj {
    border-bottom: 4px solid black;
    letter-spacing: .75em;
    padding: .75em;
}
table.prefix .subj {
    padding: 1em;
    line-height: 120%;
}

table.prefix td { vertical-align: top; }
table.prefix td, table.prefix th {
    border: 2px solid black;
    font-family: sans-serif;
    font-size: 120%;
    padding: .25em .25em;
    text-align: center;
}

table.prefix td.na {
    background: #888;
    color: #888;
}

table.prefix h2 {
    margin: .25em;
}
