/* -*- css -*- */

/* Suffix guide: Border above headlines in table */
table.reftable td {
    border: solid #000;
    border-width: 2px 0;
    white-space: nowrap;
    text-align: center;
    font-size: 200%;
    padding: .125em .25em;
    vertical-align: middle;
}

table.reftable colgroup {
    border: 2px solid #000;
}

/* eof */
