/* This stylesheet is only used by http://klingonska.org/download.html, but
   should be generalized and used for all tables. (?) /zrajm 2012-06-24 */

/* fancy table stuff */
table {
    border-collapse: collapse;
}
td {
    border: 2px solid black;
    padding: .25em .5em;
}
tr[onclick]:hover {
    background: #ccc;
    cursor: pointer;
    cursor: hand;
}
tr:hover a {
    color: #000;
}

/* eof */
