/* -*- css -*- */

/*

Page footer is included at the end of each page, it contains the page copyright
information as well as links to various validators and the Creative Commons
license of the page.

*/

#foot {
    font-family: sans-serif;
    text-align: center;
    margin-top: 2em;
}

#foot .copyright {
    border-bottom: .2em solid black;
    border-top: .2em solid black;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: .5em;
    padding-bottom: .75em;
    padding-top: .75em;
}

#foot > :last-child {
    margin-bottom: 2em;
    font-size: x-small;
}

/* eof */
