/* -*- css -*- */

[role="main"] {
    /*
    ** Created: November 7, 2011
    ** Updated: November 3, 2014
    ** Author: Zrajm
    ** Description: Stylesheet to make thumbnail picture galleries.
    **
    ** Use the following HTML to produce a gallery with two thumnails in it:
    **
    **     <div class=gallery>
    **       <a href="pic/front.jpg" class=item style="width:188px">
    **         <img src="pic/mini/front.jpg" height=250 width=188>
    **         Front cover / Title in <b lang=tlh>pIqaD</b>.
    **       </a>
    **
    **       <a href="pic/back.jpg" class=item style="width:250px">
    **         <img src="pic/mini/back.jpg" height=188 width=250>
    **         Back cover / Prefix reference table.
    **       </a>
    **     </div>
    */
    div.gallery {
        margin: auto;
        text-align: center;
        margin: -.5em -1em;
        a.item {
            box-sizing: content-box;
            border-radius: 5px;
            color: #000;
            display: inline-block;
            margin: .5em;
            padding: 2px;
            text-decoration: none;
            vertical-align: middle;
        }
        a.item img { display: block; }
        a.item:hover { opacity: .75; }
        a.item:active {
            border: 2px inset #777;
            opacity: .5;
            padding: 0;
        }
    }
}
/* eof */
