/* -*- css -*- */
[role="main"] {
    /*
    ** Created: November 7, 2011
    ** Author: Zrajm C Akfohg
    ** Description: Stylesheet to make thumbnail picture galleries.
    **
    ** Use the following HTML to produce a gallery with two thumnails in it...
    **
    **     <div class="gallery">
    **       <figure style="width:208px">
    **         <a href="pic/ka-logo-208x208.jpg"><img width="208" height="208"
    **           src="pic/ka-logo-208x208.jpg" alt="Klingonska Akademien's
    **           logo, 208x208 pixel, JPEG format" /></a>
    **         <figcaption>208x208 Mini</figcaption>
    **       </figure>
    **       <figure style="width:250px">
    **         <a href="pic/ka-logo-1280x1024.jpg"><img width="250" height="200"
    **           src="pic/ka-logo-1280x1024.thmb.jpg" alt="Klingonska Akademien's
    **           logo, 1280x1024 pixel, JPEG format" /></a>
    **         <figcaption>1280x1024 Desktop</figcaption>
    **       </figure>
    **     </div>
    */
    div.gallery {
        margin: auto;
        text-align: center;
        margin: -.5em -1em;
        a.item {
            border-radius: 5px;
            color: #000;
            display: inline-block;
            margin: .5em;
            padding: 2px;
            text-decoration: none;
            vertical-align: middle;
        }
        a.item img { display: block; }
        a.item:hover { opacity: .75; }
        a.item:active {
            border: 2px inset #777;
            opacity: .5;
            padding: 0;
        }

        /* a img { */
        /*     /\* border: 2px solid #444; *\/ */
        /*     padding: 0; */
        /* } */
        /* a:visited img { border-color: #777; } */
        /* a:hover img { */
        /*     background: #ccc; */
        /*     border-color: #000; */
        /* } */
        /* a:active img { color: #aaa; } */
        figure {
            border: 2px solid #000;
            padding: .125em;
            vertical-align: middle;
            margin: 1em;
            display: inline-block;
        }
        figcaption {
            text-align: center;
        }
    }
}
/* eof */
