/* -*- css -*- */

header.tabbed {
    div {
        padding-bottom: 0;
        position: relative;     /* needed by 'position: absolute' in child */
        select {                /* language selector (in e.g. /glossary/) */
            position: absolute; /* needs 'position: relative' in parent */
            right: .75em;
            top: .75em;
        }
    }
    nav.pagetabs {
        display: block;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 80%;
        margin: .75em 0 0 0;
        overflow: hidden;   /* avoids lower edge sticking out 1px (Chrome 22) */
        padding: 0;
        position: relative; /* needed by 'z-index' */
        text-align: center;
        z-index: 20;        /* tab row overlapping KA logo */
        > * {
            color: inherit;
            background: #aaa;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border: solid #922;
            border-width: 1px 1px 0;
            display: inline-block;
            margin: 0;
            padding: .25em .75em .125em;
            text-decoration: inherit; /* remove link decorations */
        }
        > *:hover {
            background: #ccc;
            color: #444;
        }
        > .selected {
            background: #fff;
            color: #000;
        }
    }
}

/* eof */
