/* -*- css -*- */

[role="main"] {
    table.th-sans th {
        font-family: sans-serif;
        font-size: .8em;
        line-height: 1.4em;
    }
    .canon, .noncanon {
        padding: 0 .5em;
        margin: 1em -.5em;
        text-indent: 0;
    }
    .canon { background: #ada; }
    .noncanon { background: #faa; }
}

/* eof */
