body {
    background: #888;
    margin: 0;
}

h1 { font-family: sans-serif; }


#table { padding: .25em .5em; }
#errors { background: #f88; border: 4px solid #000; padding: 1em 2em; }
#errors:empty { display: none; } /* hide display element if empty */

table { border-collapse: collapse; }
thead, tbody, tfoot { border: 4px solid #000; }
td, th {
    border: 2px solid black;
    padding: .125em .25em;
}
td:focus { background: #ddd; }

.en { font-style: italic; }
.tlh { font-weight: bold; }


/******************************************************************************/
/*                                                                            */
/*  Page Navigation Tabs                                                      */
/*                                                                            */
/******************************************************************************/

nav.tabs {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 80%;
    background: #000;
    padding: .25em .25em 0;
}
nav.tabs ul {
    display: block;
    margin: 0;
    padding: 0;
}
nav.tabs li {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
    display: inline-block;
    background: #888;
    border: 0;
    padding: .5em .75em;
    cursor: pointer;
    margin: 0 .25em;
}
nav.tabs li.selected {
    cursor: default;
    background: #fff;
    color: #000;
}
section {
    background: #fff;
    padding: 1em .5em;
}
.hidden {
    display: none;
}

/* eof */
