/* -*- css -*- */

#noscript {
    background: #ff0;
    border: .5em dotted black;
    padding: .5em 1em;
    margin: 1em 0;
    font-family: sans-serif;
    font-size: large;
}

/* hide/show translations based on <html data-lang> attr */
body[data-lang|="en"] :lang(sv) { display: none; }
body[data-lang|="sv"] :lang(en) { display: none; }

h1 { font-family: sans-serif; }

section {
    overflow: auto;
}

button[disabled] {
    color: #888;
}

article section > *:first-child {
    margin-top: 0;
}

table.sortable thead th:hover{
    background: #ccc;
    color: #000;
    cursor: pointer;
}

/* error display at top of page (invisible if empty) */
#errors:empty { display: none; } /* hide element if empty */
#errors {
    background: #f88;
    border: 4px solid #000;
    padding: 1em 1.5em;
}

/******************************************************************************\
**                                                                            **
**  Page Navigation Tabs                                                      **
**                                                                            **
\******************************************************************************/

article {
    background: #fff;
}
section {
    padding: 1em .5em;
}
.hidden {
    display: none;
}

/******************************************************************************\
**                                                                            **
**  Practice Tab                                                              **
**                                                                            **
\******************************************************************************/

section.practice table,
section.practice table tfoot,
section.practice table tfoot td {
    border: 0;
}

section.practice table {
    font-family: Georgia;
    text-align: center;
}

section.practice .question,
section.practice .answer {
    font-size: 250%;
    height: 200px;
    line-height: 125%;
    vertical-align: middle;
}

section.practice .buttons {
    padding: .5em 0 1.5em;
}

section.practice button {
    margin: .2em .1em;
    font-size: 150%;
    font-weight: bold;
}

section.practice button:active { border: inset #ccc; }
section.practice button {
    background: #aaa;
    color: #333;
    border: outset #ccc;
}
section.practice button.show {
    width: 15em;
}
section.practice button.again:active { border: inset #faa; }
section.practice button.again {
    background: #f88;
    color: #800;
    border: outset #faa;
}
section.practice button.good:active { border: inset #eea; }
section.practice button.good {
    background: #cc8;
    color: #440;
    border: outset #eea;
}
section.practice button.easy:active { border: inset #8f8; }
section.practice button.easy {
    background: #8f8;
    color: #060;
    border: outset #afa;
}

/******************************************************************************\
**                                                                            **
**  Glossary + Known Table                                                    **
**                                                                            **
\******************************************************************************/

table.glossary tr[data-num]:hover { outline: 4px solid rgba(0, 0, 0, .5); }
table.glossary tr[data-num] { cursor: pointer; }

table.glossary {
    border: 4px solid #000;
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

table.glossary td, table.glossary th {
    border: 2px solid #000;
    vertical-align: top;
    padding: .25em .5em;
}

table.glossary tr:hover .canon,
table.glossary tr:hover .noncanon { background: rgba(0, 0, 0, .2); }
table.glossary .canon:hover,
table.glossary .noncanon:hover { outline: 2px solid rgba(0, 0, 0, .5); }
table.glossary td.count, table.glossary td.pos { text-align: center; }
table.glossary td:lang(tlh) { font-weight: bold; }
table.glossary td:lang(en), td:lang(sv) { font-style: italic; }


/******************************************************************************\
**                                                                            **
**  Glossary Tab                                                              **
**                                                                            **
\******************************************************************************/

section.input h2 { margin: .5em 0; }

section.input .input {
    margin: 0;
    height: 12em;
    overflow-y: auto;
    overflow-x: hidden;
}

section.input [contenteditable] span:hover {
    outline: 2px solid rgba(0, 0, 0, .25);
}

section.input [contenteditable] {
    border: 4px inset #888;
    padding: .125em .25em;
    line-height: 140%;
}

section.input .syllable {
    border: 1px solid black;
}

section.input .punct { background: transparent; }

section.input .state:before {
    color: #888;
    content: "";
    font-style: italic;
    padding-left: .25em;
}
section.input .state.typing:before {
    content: "Typing…";
}
section.input .state.saved:before {
    content: "Text saved.";
}
section.input .state.typing:lang(sv):before {
    content: "Skriver…";
}
section.input .state.saved:lang(sv):before {
    content: "Text sparad.";
}

/* part-of-speech highlight */

/* can only occur in highlighed input text */
[class=""] { background: transparent }     /* "Unknown" */
.adv.conj, .adv.excl, .adv.name, .adv.n,   /* "Ambiguous" */
.adv.num, .adv.pro, .adv.ques, .adv.v, .conj.adv, .conj.excl, .conj.name,
.conj.n, .conj.num, .conj.pro, .conj.ques, .conj.v, .excl.adv, .excl.conj,
.excl.name, .excl.n, .excl.num, .excl.pro, .excl.ques, .excl.v, .name.adv,
.name.conj, .name.excl, .name.n, .name.num, .name.pro, .name.ques, .name.v,
.n.adv, .n.conj, .n.excl, .n.name, .n.num, .n.pro, .n.ques, .n.v, .num.adv,
.num.conj, .num.excl, .num.name, .num.n, .num.pro, .num.ques, .num.v,
.pro.adv, .pro.conj, .pro.excl, .pro.name, .pro.n, .pro.num, .pro.ques,
.pro.v, .ques.adv, .ques.conj, .ques.excl, .ques.name, .ques.n, .ques.num,
.ques.pro, .ques.v, .v.adv, .v.conj, .v.excl, .v.name, .v.n, .v.num,
.v.pro, .v.ques { background: #faa }

/* can occur in both glossary table and highlighted input text */
.v { background: #ffa }                    /* "Verb" */
.n { background: #afa }                    /* "Noun" */
.num { background: #aaf }                  /* "Number" */
.adv, .conj, .excl, .name, .pro, .ques { background: #faf; } /* "Other" */

/* known words occurring in glossary table */
table.glossary .known { text-decoration: line-through; }
table.glossary .known.v { background: #808055 }           /* known "Verb" */
table.glossary .known.n { background: #558055 }           /* known "Noun" */
table.glossary .known.num { background: #555580 }         /* known "Number" */
table.glossary .known.adv, .known.conj, .known.excl, .known.name, .known.pro,
table.glossary .known.ques { background: #805580; }       /* known "Other" */


/******************************************************************************\
**                                                                            **
**  Upload/Download Tab                                                       **
**                                                                            **
\******************************************************************************/

section.storage th, section.storage td { vertical-align: top; }

section.storage th pre { margin: 0; }

/* eof */
