#table { padding: .25em .5em; }
#errors { background: #f88; border: 4px solid #000; padding: 1em 2em; }

table { border-collapse: collapse; }
thead, tbody, tfoot { border: 4px solid #000; }
td, th {
    border: 2px solid black;
    padding: .125em .25em;
}
td:focus { background: #ddd; }

.en { font-style: italic; }
.tlh { font-weight: bold; }

/* eof */
