body {
    background: #fff;
}

#table {
    //background: #888;
    padding: .25em .5em;
}

table {
    border-collapse: collapse;
}
thead, tbody, tfoot {
    border: 4px solid black;
}
td, th {
    border: 2px solid black;
    padding: .125em .25em;
}
td:focus { background: #ddd; }

.en { font-style: italic; }
.tlh { font-weight: bold; }

/* eof */
