/*

Table-of-contents.

This is a stylesheet for table-of-contents menus.

*/

.toc ul {
    list-style-type: none;
}

/* used by "index.html" table of contents */
.toc span.comment {
    background-color: transparent;
    color: #999;
    font-size: small;
    vertical-align: top;
}

/* eof */
