h2 { margin: .5em 0 }
table.outer {
    table-layout: fixed;
    border: 0;
}
table.outer > thead > tr > th {
    font-size: 200%;
    line-height: .75em;
    border: 0;
}
table.outer > tbody > tr > td {
    border: 0;
}

table.sortable thead th:hover{
    background: #ccc;
    color: #000;
    cursor: pointer;
}

table {
    border: 4px solid #000;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td, th {
    border: 2px solid #000;
    vertical-align: top;
    padding: .25em .5em;
}

tr:hover > * > span.zap,
tr:hover > * > span.unzap {
    visibility: visible;
}
span.zap:hover,
span.unzap:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
}
tr > * > span.zap,
tr > * > span.unzap {
    opacity: .5;
    border-width: 0 2px;
    border-style: solid;
    border-color: transparent;
    font-family: sans;
    font-weight: bold;
    position: absolute;
    right: 24px;
    visibility: hidden;
}

.input {
    float: left;
}

.output {
    float: right;
}

#output {
    height: 12em;
}

#input {
    margin: 0;
    height: 12em;
    overflow-y: auto;
    overflow-x: hidden;
}

[contenteditable] {
    border: 4px inset #888;
    padding: .125em .25em;
    line-height: 140%;
}

.syllable {
    border: 1px solid black;
}

.punct { background: transparent; }

/* hide/show translations based on <html data-lang> attr */
body[data-lang|="en"] :lang(sv) { display: none; }
body[data-lang|="sv"] :lang(en) { display: none; }

/* part-of-speech highlighting */
.outer .adv,
.outer .conj,
.outer .excl,
.outer .name,
.outer .pro,
.outer .ques { background: #faf; }                /* "Other" */
.outer [class=""] { background: transparent }     /* "Unknown" */
.outer .adv.conj,
.outer .adv.excl,
.outer .adv.name,
.outer .adv.n,
.outer .adv.num,
.outer .adv.pro,
.outer .adv.ques,
.outer .adv.v,
.outer .conj.adv,
.outer .conj.excl,
.outer .conj.name,
.outer .conj.n,
.outer .conj.num,
.outer .conj.pro,
.outer .conj.ques,
.outer .conj.v,
.outer .excl.adv,
.outer .excl.conj,
.outer .excl.name,
.outer .excl.n,
.outer .excl.num,
.outer .excl.pro,
.outer .excl.ques,
.outer .excl.v,
.outer .name.adv,
.outer .name.conj,
.outer .name.excl,
.outer .name.n,
.outer .name.num,
.outer .name.pro,
.outer .name.ques,
.outer .name.v,
.outer .n.adv,
.outer .n.conj,
.outer .n.excl,
.outer .n.name,
.outer .n.num,
.outer .n.pro,
.outer .n.ques,
.outer .n.v,
.outer .num.adv,
.outer .num.conj,
.outer .num.excl,
.outer .num.name,
.outer .num.n,
.outer .num.pro,
.outer .num.ques,
.outer .num.v,
.outer .pro.adv,
.outer .pro.conj,
.outer .pro.excl,
.outer .pro.name,
.outer .pro.n,
.outer .pro.num,
.outer .pro.ques,
.outer .pro.v,
.outer .ques.adv,
.outer .ques.conj,
.outer .ques.excl,
.outer .ques.name,
.outer .ques.n,
.outer .ques.num,
.outer .ques.pro,
.outer .ques.v,
.outer .v.adv,
.outer .v.conj,
.outer .v.excl,
.outer .v.name,
.outer .v.n,
.outer .v.num,
.outer .v.pro,
.outer .v.ques { background: #faa }               /* "Ambiguous" */
.outer .v { background: #ffa }                    /* "Verb" */
.outer .n { background: #afa }                    /* "Noun" */
.outer .num { background: #aaf }                  /* "Number" */

.outer [title]:hover { background: rgba(0,0,0,.3) }

/*eof*/
