/*
Created: November 7, 2011
oAuthor: Zrajm C Akfohg
Description: Stylesheet to make thumbnail picture galleries.

Use the following HTML to produce a gallery with two thumnails in it...

    <div class="gallery">
     <figure style="width:208px">
       <a href="pic/ka-logo-208x208.jpg"><img width="208" height="208"
         src="pic/ka-logo-208x208.jpg" alt="Klingonska Akademien&rsquo;s
         logo, 208x208 pixel, JPEG format" /></a>
       <figcaption>208x208 Mini</figcaption>
     </figure><figure style="width:250px">
         <a href="pic/ka-logo-1280x1024.jpg"><img width="250" height="200"
           src="pic/ka-logo-1280x1024.thmb.jpg" alt="Klingonska Akademien&rsquo;s
           logo, 1280x1024 pixel, JPEG format" /></a>
       <figcaption>1280x1024 Desktop</figcaption>
     </figure></div>

<table class="banner">
      <tr>
        <td class="left edge"></td>
        <td><img src="/pic/flag-swe.gif" width="35" height="21" alt="Svenska" /></td>
        <td>Om du gillar den här sidan, glöm inte att länka hit!</td>
        <td class="right edge"></td>
      </tr>
    </table>

*/

.gallery {
    margin: auto;
    text-align: center;
    margin: 0 -1em;
}
.gallery figure {
    vertical-align: middle;
    margin: 1em;
    display: inline-block;
}
.gallery figcaption { text-align: center; }

/* eof */
