/*

Page header is included at the top of each page, it contains the page logotype,
the last update date of the page and links to the webmaster email & url of the
page in question.

Page and chapter headings are part of the main page, not the header.

*/

div#head {
    font-family: sans-serif;
    margin-bottom: 2.5em;
    text-align: center;
}

div#head img {
    border: 0em;
    margin-bottom: .5em;
    margin-top: .75em;
}

div#head table.status {
    border: 0em;
    font-size: x-small;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    padding: 0em;
    width: 100%;
}

div#head table.disclaimer {
    background-color: #000000;
    border: 0em;
    color: #ffff00;
    font-family: serif;
    font-size: 150%;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    padding: 1em 2em;
}

div#head table.disclaimer tr.big {
    font-size: 175%;
}

div#head p {
    text-align: center;
}

/* eof */
