@import url("head.css");
@import url("main.css");
@import url("foot.css");

body {
    margin: 0em 1em;
}

/* Don't change order of the following "a" pseudo classes! */
/* [http://www.w3schools.com/CSS/css_pseudo_classes.asp]   */
a:link    { color: #444444; } /* unvisited link  */
a:visited { color: #777777; } /* visited link    */
a:hover   {                   /* mouse over link */
    background-color: #cccccc;
    color: black;
}
a:active  { color: #aaaaaa; } /* selected link -- button pressed on link */

#main .prevnext {
    font-weight: bold;
    margin-top: 1em;
    font-family: sans-serif;
    font-size: large;
    text-align: center;
}

.author { font-style: italic; }

.sans { font-family: sans-serif; }

th.left,   td.left   { text-align: left;   }
th.right,  td.right  { text-align: right;  }
th.center, td.center { text-align: center; }
th.top,    td.top    { vertical-align: top;    }
th.middle, td.middle { vertical-align: middle; }
th.bottom, td.bottom { vertical-align: bottom; }

/* large comments -- one paragraph or more */
div.comment {
    background-color: #bbb;
}

/* brief comments -- just a couple of words */
span.comment {
    background-color: transparent;
    color: #888;
    vertical-align: top;
}

/* brief comment should be slightly brighter inside heading */
/* (to compensate for the fact that the font is larger */
h1 span.comment {
    color: #aaa;
}

h1, h2, h3, h4 {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

/* Paragraphs immediately following a paragraph of class "center" or  */
/* "right", or paragraphs themselves of those classes should never be */
/* indented, but separated from above pagragraph by a blank line. */
/* Explicitly specifying class "noindent" also forces this behaviour. */
#main p + p[align="center"],
#main p.center,
#main p.center + p,
#main p.right,
#main p.right  + p,
#main p.noindent {
    margin-top: 1em;
    text-indent: 0em;
}

/* Paragraphs immediately following another paragraph should be       */
/* indented (unless overridden by above rule). Explicitly specifying  */
/* class "indent" also forces this behaviour.                         */
#main p + p,
#main p.indent {
    margin-top: -1em;
    text-indent: 1.5em;
}

/* Classes "left", "right", "center" and "justify" do the obvious      */
/* thing. No class at all defaults to "justify". "blank" adds an extra */
/* blank line above. */
#main p,
#main p.justify { text-align: justify; }
#main p.center  { text-align: center;  }
#main p.right   { text-align: right;   }
#main p.left    { text-align: left;    }
#main p + p.blank,
#main .blank    { margin-top: 2em;     }

/* Color is intentionally not specified, thus, when used on a linked */
/* image the color will respect hover yadda yadda...                 */
#main .border { border: 2px solid; }

/* eof */
