/*

Pagestats stylesheet. Pagestats is the topmost thingy on the page. It contains
breadcrumb navigation and time of the last update of the page. Example HTML.

    <div id="pagestats">
      <span id="crumbs">
        <a href="http://klingonska.org/">Home</a> &gt;
        <a href="http://klingonska.org/songs/">Songs in Klingon</a> &gt;
        <a href="http://klingonska.org/songs/tahjaj_wo/">taHjaj wo&rsquo;</a>
      </span>
      <span id="pubdate">
        Updated <time pubdate datetime="2007-07-15T07:43">July 15, 2007</time>
      </span>
    </div>

/zrajm 2011-05-27

*/

#pagestats {
    font-family: sans;
    font-size: x-small;
    font-style: italic;
    margin: .5em 0 0 0;
    overflow: hidden;
    padding: 0;
}
#crumbs { float: left; }
#crumbs a:last-child,
#crumbs a:last-child:link,
#crumbs a:last-child:visited,
#crumbs a:last-child:hover,
#crumbs a:last-child:active {
    background-color: transparent;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
#pubdate { float: right; }

/* eof */
